select {
    margin-top: 15px;
    margin-bottom: 15px;
}
body {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#survey-result {
    margin-top: 10px;
    font-size: 25px;
    color: rgb(0, 199, 0);
    font-weight: bolder;
    text-shadow: 5px 5px #EEEEEE;
}
.hide-button {
    display: none;
}
.hide-p {
    display: none;
}
