select {
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#survey-result {
    margin-top: 15px;
    font-size: 25px;
    color: green;
}
.hide-button {
    display: none;
}
.hide-p {
    display: none;
}
